body{
    margin:0px;
    padding:20px;
}


.table tr, .table td{
    padding: 5px 5px;
    border:1px solid #ddd;
    text-align: center;
    font-size:10px;
    margin:50px;
}

.table th{
    background-color: rgb(33, 97, 33);
    color:white;
    font-style:italic;
}

#page_heading_div{
    width:100%;
    font-size:12px;
    font-weight:bold;
}


#search_and_button_div{
    width:100%;
    text-align: right;
    margin-bottom: 10px;
}

#search_bar_input,#search_button_id,#reset_button{
    font-size:9px;
    margin-top:0px;
}

#loading-message-div{
    font-size:10px;
    margin-top:5px;
    margin-bottom:0px;
}
#serach-instruction-div,#click-to-expand-div{
    font-size:10px;
    margin-bottom:0px;
}


.table{
    width: 100%;
    border-collapse:separate;
    border-spacing:10px;
    
}

.image-div{
    align-content:center;
    padding:0px 0px;
    height:auto;
    overflow:scroll;
    overflow:auto;
}

.name-div{
    color:blue;
    font-style:italic;
    text-align:justify;
    padding:0px 0px;
}

.name-div>span{
    font-style:normal;
    color:black;
}

.animal-type-div{
    text-align:left;
    padding:0px 0px;
    font-style:italic;
    color:darkgreen;
}

.animal-type-div>span{
    font-style:normal;
    color:black;
}

.lifespan-div{
    text-align:left;
    padding:0px 0px;
    font-style:italic;
    color:blue;
}
.lifespan-div>span{
    font-style:normal;
    color:black;
}
.diet-div{
    text-align:left;
    padding:0px 0px;
    font-style:italic;
    color:darkgreen;
}
.diet-div>span{
    font-style:normal;
    color:black;
}
